// main 部分
.main{
    margin-left: 239px;
    border-left: 1px solid #E9E9E9;
}

.title{
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
}
    
.item{
    padding: 40px 30px;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
}

