// header 部分
.header{
    position: relative;
    z-index: 1;
    padding: 15px 15px 15px 25px;
    border-bottom: 1px solid #E9E9E9;
    background-color: #F5F5F5
}

.icon{
    position: relative;
    top: 1px;
    padding-right: 10px;
}

.aver{
    position: absolute;
    right: 20px;
    top: 10px;

    img{
        height: 40px;
        border-radius: 20px;
        display: inline-block;
        margin-right: 10px;
    }

    span{
        font-size: 16px;
        color: #666;
        position: relative;
        top: -13px;
    }
}

